<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite_Selenium">

	<listeners>
		<listener class-name="com.reportListener.ExtentReporterNG"/>
	</listeners>
	
    <test name="Test_Automation">
         <classes>
             <class name="com.selenium_automation.AppTest"/>
          </classes>
     </test> 
</suite> 